.activities-container {
    padding: 20px;
  }
  
  .activities-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .activities-list {
    list-style-type: none;
    padding: 0;
  }
  
  .activity-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .activity-index {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .activity-name {
    font-size: 1.2rem;
  }
  